/* =================================== GLOBAL ==================================== */

/* ==================================== 1366 ==================================== */

@media screen and (max-width: 1366px) {


    .project-container {
        max-width: 1200px;
    }

    .half {
        width: 700px;
    }

    .triple {
        width: 700px;
    }

    .project-items {
        width: 700px;
    }
    
}

/* ==================================== 1024 ==================================== */

@media screen and (max-width: 1024px) {


    .project-container {
        flex-direction: column;
        max-width: 750px;
    }

    .project-items {
        width: unset;
    }

    .half{
        width: unset;
    }

    .triple{
        width: unset;
    }

    
    .project-infos {
        position: unset;
        width: unset;
        text-align: left;
        padding-left: 30px;
        padding-right: 0;
        border-left: 1px solid var(--text-color-grey);
        border-right: none;
    }
}


/* ==================================== 900 ==================================== */

@media screen and (max-width: 900px) {


}

/* ==================================== 750 ==================================== */

@media screen and (max-width: 750px) {
    .half,
    .triple {
        flex-direction: column;
    }
    
    .half .project-items,
    .triple .project-items {
        width: unset;
    }

}

/* ==================================== 550 ==================================== */

@media screen and (max-width: 550px) {


}

/* ==================================== 375, 450 ==================================== */

@media screen and (max-width: 450px), (max-width: 375px) {


}